@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500&display=swap'); */
*{
    font-family: 'Nunito';
}
html{
    scroll-behavior: smooth;
}
body{
    font-size: 20px;
    background: 
    #b7b7b7;
    padding-bottom: 50px;
}
h1{
    text-align: center;
}
#juego{
    max-width: 800px;
    margin: auto;
}
.pregunta{
    background-color: #f9f9f5;
    margin-top: 20px;
}
.marco {
    padding:8px;
    background-color: #f5f5f5;
    width: 200px;
    border-bottom: 1px solid #999999;
    border-right: 1px solid #999999;
 }
 
 
 